<form [formGroup]="registerForm" (ngSubmit)="handleRegister()" class="register-page">
  <div class="container-css">
    <div class="register-bg">
      <div class="register-brand">
        <img src="/assets/img/logo/shopee-white.png" alt="Shopee" />
        <p>
          Nền tảng thương mại điện tử<br />
          yêu thích ở Đông Nam Á & Đài Loan
        </p>
      </div>
    </div>

    <div class="register-form">
      <div class="register-form-box">
        <h2>Đăng ký</h2>

        <input type="email" placeholder="Email" formControlName="email" />
<div class="error" *ngIf="submitted && f['email'].errors">
  <span *ngIf="f['email'].errors['required']">Email không được để trống</span>
  <span *ngIf="f['email'].errors['email']">Email không hợp lệ</span>
</div>

<input type="password" placeholder="Mật khẩu" formControlName="password" />
<div class="error" *ngIf="submitted && f['password'].errors">
  <span *ngIf="f['password'].errors['required']">Mật khẩu không được để trống</span>
  <span *ngIf="f['password'].errors['minlength'] || f['password'].errors['pattern']">
    Mật khẩu phải có tối thiểu 6 ký tự, bao gồm chữ hoa, chữ thường, số và ký tự đặc biệt
  </span>
</div>


<input type="password" placeholder="Nhập lại mật khẩu" formControlName="confirmPassword" />
<div class="error" *ngIf="f['confirmPassword'].touched || submitted">
  <span *ngIf="f['confirmPassword'].errors?.['required'] && f['confirmPassword'].touched">
    Vui lòng nhập lại mật khẩu
  </span>
  <span *ngIf="registerForm.errors?.['passwordMismatch'] && f['confirmPassword'].dirty">
    Mật khẩu xác nhận không khớp
  </span>
</div>


        <button type="submit">ĐĂNG KÝ</button>

        <div class="register-links">
          <a href="#">Quên mật khẩu</a>
        </div>

        <div class="register-or">HOẶC</div>

        <div class="register-social">
          <button class="fb">Facebook</button>
          <button class="gg">Google</button>
        </div>

        <p class="register-login">
          Đã có tài khoản? <a href="#">Đăng nhập</a>
        </p>
      </div>
    </div>
  </div>
</form>
