<form (ngSubmit)="handleLogin()" #loginForm="ngForm" class="login-page">
  <div class="container-css">
    <div class="login-bg">
      <div class="login-brand">
        <img src="/assets/img/logo/shopee-white.png" alt="Shopee" />
        <p>
          Nền tảng thương mại điện tử<br />
          yêu thích ở Đông Nam Á & Đài Loan
        </p>
      </div>
    </div>

    <div class="login-form">
      <div class="login-form-box">
        <h2>Đăng nhập</h2>

        <input
          type="email"
          name="email"
          required
          [(ngModel)]="email"
          placeholder="Email"
        />
        <input
          type="password"
          name="password"
          required
          [(ngModel)]="password"
          placeholder="Mật khẩu"
        />

        <div *ngIf="error" class="error">{{ error }}</div>

        <button type="submit">ĐĂNG NHẬP</button>

        <div class="login-links">
          <a href="#">Quên mật khẩu</a> <span>•</span>
          <a href="#">Đăng nhập với SMS</a>
        </div>

        <div class="login-or">HOẶC</div>

        <div class="login-social">
          <button class="fb">Facebook</button>
          <button class="gg">Google</button>
        </div>

        <p class="login-register">
          Bạn mới biết đến Shopee? <a href="#">Đăng ký</a>
        </p>
      </div>
    </div>
  </div>
</form>
