<div class="search-overlay" [class.open]="openSearch">
    <div class="row-search-overlay">
      <input
        type="text"
        placeholder="Tìm sản phẩm..."
        [value]="searchTerm"
        (input)="onSearchChange($event)"
      />
      <span class="overlay-close" (click)="toggleSearch()">✕</span>
    </div>
  
    <div class="search-results">
      <a
  class="search-item"
  *ngFor="let item of products"
  [routerLink]="['/chi-tiet-san-pham', item.id]"
  (click)="toggleSearch()"
>
  <img 
    [src]="item.image" 
    (error)="onImageError($event)" 
    alt="Ảnh sản phẩm" 
  />
  <div class="search-info">
    <h4>{{ item.name }}</h4>
    <div class="search-price">
      <span class="price-new" *ngIf="item.finalPrice">{{ item.finalPrice | number }}₫</span>
      <span class="price-old" *ngIf="item.discount > 0">{{ item.price | number }}₫</span>
    </div>
  </div>
</a>

      <p *ngIf="products.length === 0 && searchTerm">Không tìm thấy sản phẩm phù hợp.</p>
    </div>
  </div>
  
  <div class="overlay-search" *ngIf="openSearch" (click)="toggleSearch()"></div>
  