.featured-posts {
    background: linear-gradient(to right, #000428, #004e92);
    padding: 40px 0;
   
  
    &__container {
      width: 1200px;
      margin: 0 auto;
    }
  
    &__heading {
      font-weight: bold;
      margin-bottom: 24px;
    
      font-size: 16px !important;
      color: white;
    }
  
    &__row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;
    }
  
    &__item {
      width: 32%;
      background-color: white;
      padding: 16px;
      border-radius: 12px;
    }
  
    &__img {
      width: 100%;
      height: 230px;
      object-fit: cover;
      border-radius: 8px;
    }
  
    &__date {
      color: #777;
      font-size: 13px;
      margin-top: 12px;
    }
  
    &__title {
      font-weight: bold;
    }
  
    &__desc {
      font-size: 14px;
      color: #333;
    }
  }
  