
<app-carousel></app-carousel>

<div style="background-color: #f5f5f5">
  <!-- Banner Section -->
  <app-category-section></app-category-section>

  <app-top-search></app-top-search>

  <div class="grid wide">
    <div class="row sm-gutter">
      <div class="col l-12 m-12 c-12">
        <div class="home-product">
          <nav class="mobile-category">
            <ul class="mobile-category-list">
              <li class="mobile-category-item">
                <a href="#" class="mobile-category-item-link">Thiết bị mạng</a>
              </li>
              <li class="mobile-category-item">
                <a href="#" class="mobile-category-item-link"
                  >Chuột và bàn phím</a
                >
              </li>
              <li class="mobile-category-item">
                <a href="#" class="mobile-category-item-link">USB</a>
              </li>
              <li class="mobile-category-item">
                <a href="#" class="mobile-category-item-link"
                  >Link kiện máy tính</a
                >
              </li>
              <li class="mobile-category-item">
                <a href="#" class="mobile-category-item-link">Wifi</a>
              </li>
              <li class="mobile-category-item">
                <a href="#" class="mobile-category-item-link">Ổ cứng</a>
              </li>
              <li class="mobile-category-item">
                <a href="#" class="mobile-category-item-link">CD/DVD</a>
              </li>
              <li class="mobile-category-item">
                <a href="#" class="mobile-category-item-link">Tai nghe</a>
              </li>
              <li class="mobile-category-item">
                <a href="#" class="mobile-category-item-link">Lót chuột</a>
              </li>
              <li class="mobile-category-item">
                <a href="#" class="mobile-category-item-link">Micro</a>
              </li>
            </ul>
          </nav>

      
          <!-- SẢN PHẨM NỔI BẬT -->
          <div
            style="padding: 24px 0; margin-top: 32px"
            *ngIf="featuredProducts.length > 0"
          >
            <div class="container-layout">
              <div class="section-wrapper">
                <div class="section-header">
                  <h2>SẢN PHẨM NỔI BẬT</h2>
                </div>
              </div>
              
              

              <div id="list-product" class="row sm-gutter">
                <div
                  class="col l-2 m-3 c-6 home-product-item"
                  *ngFor="let item of featuredProducts"
                >
                  <a
                    class="home-product-item-link"
                    [routerLink]="'/chi-tiet-san-pham/' + item.id"
                  >
                    <div
                      class="home-product-item__img"
                      [ngStyle]="{
                        'background-image':
                          'url(http://localhost:3000/uploads/' +
                          item.image +
                          ')'
                      }"
                    ></div>

                    <div class="home-product-item__info">
                      <h4 class="home-product-item__name">{{ item.name }}</h4>

                      <div class="home-product-item__price">
                        <!-- Nếu có giảm giá -->
                        <ng-container *ngIf="item.discount > 0; else onlyPrice">
                          <p class="home-product-item__price-old">
                            {{ item.price | number }}₫
                          </p>
                          <p class="home-product-item__price-new">
                            {{ item.finalPrice | number }}₫
                          </p>
                        </ng-container>
                      
                        <!-- Nếu không có giảm giá -->
                        <ng-template #onlyPrice>
                          <p class="home-product-item__price-new">
                            {{ item.price | number }}₫
                          </p>
                        </ng-template>
                      </div>
                      

                      <div class="home-product-item__footer">
                        <div class="home-product-item__save">
                          <input
                            type="checkbox"
                            [id]="'heart-save-' + item.id"
                          />
                          <label
                            [for]="'heart-save-' + item.id"
                            class="far fa-heart"
                          ></label>
                        </div>

                        <div class="home-product-item__rating-star">
                          <i
                            class="star-checked far fa-star"
                            *ngFor="let s of [1, 2, 3, 4, 5]"
                          ></i>
                        </div>

                        <div class="home-product-item__saled">Đã bán 3,8k</div>
                      </div>

                      <div class="home-product-item__origin">Hà Nội</div>
                      <div class="home-product-item__favourite">Yêu thích</div>

                      <div class="home-product-item__sale-off">
                        <div class="home-product-item__sale-off-value">40%</div>
                        <div class="home-product-item__sale-off-label">
                          GIẢM
                        </div>
                      </div>
                    </div>

                    <div class="home-product-item-footer">
                      Tìm sản phẩm tương tự
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-featured-posts></app-featured-posts>
