<header class="auth-header" style="height: 85px;">
    <div class="logo">
      <!-- Click Shopee để về trang chủ -->
      <a  routerLink="/" class="logo-link">
        <img style="width: 100px; height: 85px; object-fit: cover;" src="assets/client/img/logo/ChatGPT Image 07_47_40 18 thg 4, 2025.png" alt="Logo" />
        
      </a>
  
      <span style="color: black;" *ngIf="isLoginPage">Đăng nhập</span>
      <span style="color: black;" *ngIf="isRegisterPage">Đăng ký</span>
    </div>
    
    <div class="help">Bạn cần giúp đỡ?</div>
  </header>
  