/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
}
.nav-chilren {
    height: 35px;
}

body.cdk-global-scrollblock {
    padding-right: 0 ;
    overflow-y: scroll ;
  }
  